@{
    Layout = "~/Views/Shared/_CitizenLayout.cshtml";
    ViewData["Title"] = "About Us";
}
<div class="row no-gutters ">
    <div class="col-md-8 ml-auto mr-auto">
        <h2 class="title pt-3">@ViewData["Title"]</h2>
        <p class="pl-5 pr-5 text-justify">
            Government of Telangana with a view to promoting planned development of urban areas in the State are encouraging development through approved layouts and development of integrated townships through both public and private initiative. The Government has observed that there are many unapproved and illegal layouts which are violating the Statutory Development Plan/Master Plan and Layout Rules lacking in development standards and basic infrastructure facilities like proper roads, street lights and drainage. Such substandard and unapproved sub-divisions of land into building plots is effecting objective of planned development along with the planned extension of services and amenities by the local bodies.
            <br> <br>
            Government have in the past brought out a scheme of regularization of such unapproved layouts but they met with limited success since it was a voluntary scheme with responsibility on plot owners to come forward for regularization and there were no deterrent provisions against the owners who did not come forward for regularization. Therefore in order to bring all these unplanned areas into the fold of planned development and to provide basic facilities in these areas so as to promote an overall and integrated area and city level development and a better quality of life for the citizens, Government hereby issue the Rules for Regularization of Unapproved and Illegal Layouts
        </p>
    </div>
</div>