@{
    Layout = "~/Views/Shared/_CitizenLayout.cshtml";
    ViewData["Title"] = "About Us";
}
<div class="row no-gutters ">
    <div class="col-md-8 ml-auto mr-auto">
        <h2 class="title pt-3">Frequently Asked Questions (FAQs)</h2><a href="Documents/FAQs-LRS 2020.pdf" target="_blank">Download FAQs</a>
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header highlight" id="headingOne">
                    <h2 class="clearfix mb-0">
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fa fa-chevron-circle-down"></i>
                            Q1. What is meant by unapproved and illegal layout?
                        </a>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample" style="">
                    <div class="card-body">
                        <ul class="liststyles">
                            <li>a) Land which is sub-divided into plots without permission from Competent Authority such as  Municipal Corporations, Municipalities, Urban Development Authorities and Metropolitan Development Authority and Director of Town and Country Planning as the case maybe. </li>
                            <li>b) Un-authorized illegal layouts would also include tentative layouts approved by Municipal Corporation/Municipalities/Urban Development Authorities / DTCP and Metropolitan Development Authority where plots have been sold without Obtaining final layout approval.</li>
                            <li>c)Gram Panchayat layouts without prior approval from Director of Town and Country Planning/Urban Development Authority / and Metropolitan Development Authority.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="fa fa-chevron-circle-down"></i>
                            Q2. What are the advantages of regulating an unapproved layout?
                        </a>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample" style="">
                    <div class="card-body">
                        <ul class="liststyles">
                            @*
                            <li>a) Regulation of unapproved layouts will entitle the applicant to get building permission from the Competent Authority. </li>
                            <li>b) Civic amenities like roads, water supply, drainage, streetlights will be provided subject to total payment of all required charges by all plot owners. </li>
                            <li>c) The unapproved layout areas will be brought in to the fold of planned development of the Towns/Cities/Gram Panchayats. </li>*@
                            <li>a) Regulation of unapproved layouts will entitle the applicant to get building permission from the Competent Authority. </li>
                            <li>b) Civic amenities like roads, water supply, drainage, streetlights will be provided subject to total payment of all required charges by all plot owners. </li>
                            <li>c) The unapproved layout areas will be brought in to the fold of planned development of the Towns/Cities/Gram Panchayats. </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <i class="fa fa-chevron-circle-down"></i>
                            Q3. What are the consequences if one does not apply for regulation of unapproved layout?
                        </a>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample" style="">
                    <div class="card-body">
                        The following consequences have to be faced:
                        <ul class="liststyles">
                            @*
                            <li>No building permission will be given. </li>
                            <li>Such layout plots will be treated as continuing offence and exemplary penalties as per law would be levied.  </li>
                            <li>No regular water supply connections and services like roads, drainage, streetlights will be extended in such areas. </li>
                            <li>Information will be sent to Registration Department to enter the land into Prohibitory Register of lands and no sale / disposal or transactions shall be allowed in such sites.</li>
                            <li>Other enforcement action including demolition of the building if any on such plot/plots shall be initiated.</li>*@
                            <li>a) No building permission will be given. </li>
                            <li>b) No regular water supply connections and services like roads, drainage, streetlights will be extended in such areas. </li>
                            <li>c) No registration of such plots by sale  will be permitted</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <i class="fa fa-chevron-circle-down"></i>
                            Q4. Whether the layout regulation scheme is applicable to all Gram Panchayat areas also?
                        </a>
                    </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample" style="">
                    <div class="card-body">A: Yes. This scheme is applicable to all Gram Panchayat areas </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h2 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            <i class="fa fa-chevron-circle-down"></i>
                            Q5. Whether a layout approved by a Gram Panchayat without technical approval of Director of Town & Country Planning/Urban Development Authority is a valid layout?
                        </a>
                    </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample" style="">
                    <div class="card-body">A: No</div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSix">
                    <h2 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            <i class="fa fa-chevron-circle-down"></i>
                            Q6. If I have purchased a plot in unapproved layout, can my plot be regularized under this Scheme?
                        </a>
                    </h2>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample" style="">
                    <div class="card-body">
                        A:  Yes, it can be regularized subject to submission of application along with sale deed executed prior to date of notification of the Rules and payment of prescribed fees and charges and subject complying of LRS Rules issued vide G.O.Ms.No.131 dated 31-08-2020.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading7">
                    <h2 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                            <i class="fa fa-chevron-circle-down"></i>
                            Q7. The layout owner has taken an approval from the Gram Panchayat with technical clearance of Director of Town & Country Planning / Urban Development Authority but subsequently changed the layout and its constituent plots, open spaces and roads and I purchased a plot based on this changed layout on ground. Can my plot be regularized?
                        </a>
                    </h2>
                </div>
                <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample" style="">
                    <div class="card-body">
                        A: No
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading8">
                    <h2 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                            <i class="fa fa-chevron-circle-down"></i>
                            Q8. The owner has sold away the open spaces in the approved layout by carving plots. Can these be regularized?
                        </a>
                    </h2>
                </div>
                <div id="collapse8" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample" style="">
                    <div class="card-body">
                        A: No
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading9">
                    <h2 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                            <i class="fa fa-chevron-circle-down"></i>
                            Q9: If total area of the site is 3 acres and only 10 plots holders having plots of 250 sq.yards each apply for approved owners of 10 plots can get their plots regularized?
                        </a>
                    </h2>
                </div>
                <div id="collapse9" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample" style="">
                    <div class="card-body">
                        A: Yes. The plot holders who come forward for regulation of their plots will be considered for approval subject to conditions.

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading10">
                    <h2 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                            <i class="fa fa-chevron-circle-down"></i>
                            Q1O: A100 ft Master Plan is proposed through our colony layout. The alignment of the said 100 ft road is passing through plot and in adjoining plots which have buildings. Can my plot and the said adjoining plots be regularized?
                        </a>
                    </h2>
                </div>
                <div id="collapse10" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample" style="">
                    <div class="card-body">
                        A: Plots affected in Master Plan road will not be regulated.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading11">
                    <h2 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                            <i class="fa fa-chevron-circle-down"></i>
                            Q11: Can I purchase a plot in an unapproved layout after the date of notification and come forward for regularization payment of all fees and charges?
                        </a>
                    </h2>
                </div>
                <div id="collapse11" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample" style="">
                    <div class="card-body">
                        A. No. This scheme is applicable only for plot owners who have registered sale deed executed prior to 26-08-2020.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading12">
                    <h2 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                            <i class="fa fa-chevron-circle-down"></i>
                            Q12: The neighbouring land owner has blocked a road by showing the end of the road as plot and constructed a building. Can this plot blocking the road be regularized?
                        </a>
                    </h2>
                </div>
                <div id="collapse12" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample" style="">
                    <div class="card-body">
                        A. No.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading13">
                    <h2 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                            <i class="fa fa-chevron-circle-down"></i>
                            Q13: I have a plot in a layout approved by Gram Panchayat falling in UDA limits without getting technical clearance from UDA. Do I need to apply for regulation under this scheme?
                        </a>
                    </h2>
                </div>
                <div id="collapse13" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample" style="">
                    <div class="card-body">
                        A. Yes.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading14">
                    <h2 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                            <i class="fa fa-chevron-circle-down"></i>
                            Q14:I have a plot in a layout approved by Gram Panchayat without getting technical approval from the DT&CP but covered by the sanctioned Master Plan. Do I need to apply for regulation under this scheme?
                        </a>
                    </h2>
                </div>
                <div id="collapse14" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample" style="">
                    <div class="card-body">
                        A. Yes.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading15">
                    <h2 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
                            <i class="fa fa-chevron-circle-down"></i>
                            Q15: Whether charges for regulation of unapproved layouts can be paid in installments?
                        </a>
                    </h2>
                </div>
                <div id="collapse15" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample" style="">
                    <div class="card-body">
                        A: Yes. At the time of submission of application, one has to pay Rs 1000/ in case of individual plot and Rs 10,000/ in case of layout. The balance amount has to be paid by 31-01-2021.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading16">
                    <h2 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
                            <i class="fa fa-chevron-circle-down"></i>
                            Q16: I have constructed a building in an unapproved plot. Can I apply for regulation of my plot and building?

                        </a>
                    </h2>
                </div>
                <div id="collapse16" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample" style="">
                    <div class="card-body">
                        A: Yes. You can apply for regularisation of plot. At present there is no provision for regualrisation of Unauthorised bUildings.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading17">
                    <h2 class="mb-0">
                        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse17" aria-expanded="false" aria-controls="collapse17">
                            <i class="fa fa-chevron-circle-down"></i>
                            Q17: What is the method for computation of the betterment Charges, Conversion charges and shortfall of open charges?
                        </a>
                    </h2>
                </div>
                <div id="collapse17" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample" style="">
                    <div class="card-body">
                        A: The Penal charges include betterment charges and Development Charges, The method of calculation of penal charges and open space charges is given in G.O.Ms.No.131 dated 31-08-2020.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>